<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    

</head>
<body> 
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">            
            <div class="navbar-header">
                  <a class="navbar-brand " href="{% url 'djangoapp:index' %}">Home</a>
            </div>            
        </div>
    </nav>
<br>        
<div class="container">
    
    <div class="card">
        <div class="card-header"><h3>About us:</h3></div>
        <div class="card-body">
            <h5>
                Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
                </h5>
          
        </div>
      </div>

    
</div>

</html>
</html>