<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    

</head>
<body> 
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand " href="{% url 'djangoapp:index' %}">Home</a>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
    
        <div class="card">
            <div class="card-header"><h3>Contact us:</h3></div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">  Adresss: 102 East Street</li>
                    <li class="list-group-item">Phones: (555) 456 789</li>
               
                </ul>
              
            </div>
          </div>
    
        
    </div>        


</html>
</html>