<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

   
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                      <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>                                     
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username" >
                                <input type="password" class="form-control" placeholder="Username" name="psw" >
                                <button class="btn btn-primary ml-1 " type="submit">Login</button>
                                <a class="btn btn-link btn-light ml-1" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
      
        <div class="container-fluid"  style="padding-top:10px; margin:  auto; width: 95%"> 
            <div class="row">
            <h5 > Reviews for: {{dealer_name}} ({{count}})</h5>
            {% if user.is_authenticated %} 
            <div class="col-auto ml-auto "> <a class="btn btn-success ml-1" role="button" style="margin: 10px;" href="{% url 'djangoapp:addreview' dealer_id dealer_name %}">Add Review</a></div>
            {% endif %}
            </div>
        </div>


        <div class="card-columns" style="margin: auto; width: 95%">
            {% for r in reviews_list %}
            <div class="card">
                <img class="card-img-left" width="30px" src="{{MEDIA_URL}}/emoji/{{r.sentiment}}.png" alt="{{r.sentiment}}">
                <div class="card-body">            
                    <h5 class="card-title">{{r.car_make}}, {{ r.car_model}}</h5>                    
                    <h5 class="card-title">{{r.purchase_date|slice:"-4:"}}</h5>
                    <p class="card-text">{{r.review}}</p>
                </div>
            </div>
            {% endfor %}
        </div>


    </body>

</html>